

*{
	box-sizing: border-box;
	
}

body{
	
	margin:0;
	padding:0;
	background-color:white;
}

#body-wrapper{
		
	width:100%;
	height:auto;

}

/*Put me inside the body please */
/*Statid viewport until the site is fully functional :)*/
#content-wrapper{
	
	width:1366px;
	min-height:768px;
	height:inherit;
	margin-left:auto;
	margin-right:auto;
	
}


